// Colors
// Primary
$color-primary-light-cyan: hsl(193, 38%, 86%);
$color-primary-neon-green: hsl(150, 100%, 66%);

// Neutral
$color-neutral-grayish-blue: hsl(217, 19%, 38%);
$color-neutral-dark-grayish-blue: hsl(217, 19%, 24%);
$color-neutral-dark-blue: hsl(218, 23%, 16%);

// Font import
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700&display=swap');

:root {
    padding: 0;
    margin: 0;
}

body {
    font-size: 28px;
    font-family: 'Manrope', sans-serif;
}